/Kodelabzz.AllProjects/Kodelabzz.Library/obj
/Kodelabzz.AllProjects/Kodelabzz.Library/bin
/Kodelabzz.AllProjects/Kodelabzz.Console/obj
/Kodelabzz.AllProjects/Kodelabzz.Console/bin
/Kodelabzz.AllProjects/.vs
